body {
    background: url("../images/bg_body.jpg") repeat 0 0;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 11px;
    line-height: normal;
    color: #d7cfc8;

    min-height: 100%;
    height: 100%;
/* 
    надо ограничить сайт до минимальной ширины 1000px. 
    Он не предназначался для маленьких экранов. 
    Хоть некоторые элеметны и адаптируются без проблем.  */
    /* max-width: 1000px; */
    /* width: 100%; */
    /* Сильно буквально восприняла замечание про минимальную ширину. Теперь он растягивается на всю ширину. А должен оставаться в столбце 1000px */
    /* min-width: 1000px; */
    
    width: 1000px;
    margin: 0 auto;
}
body * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* по умолчанию стоит */
    /*box-sizing: content-box;*/ 
    /* не вычитает из ширины блока padding и border, идет во внутрь, вычитает изнутри*/
    /* box-sizing: border-box; */
}
.wrapper {
    display: block;
    padding: 40px 0;
}

h1, h2, p {
    font-weight: normal;
    font-style: normal;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    color: #ead4aa;
    padding-bottom: 23px;
}
h2 {
   font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #fff68d;
    padding-bottom: 20px;
}
/* Для абзацев можно не назначать шрифт, т.к. они наследуют у глобальные */
p {
    /* font-family: Verdana, Geneva, sans-serif; */
    font-size: 11px;
    color: #d7cfc8;
    padding-bottom: 10px;
}
a {
    color: #e8d1a4;
    text-decoration: underline;
}
img {
    max-width: 100%;
    height: auto;
}

/*************** HEADER ***************/

.header {
    /* display: block; */
    display: flex;
    width: auto; 
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}
/*** только заметил `.header li` . Этот селектор меня настораживает. Не понятно что имеется ввиду */
/* .header li { */
    /* display: inline-block; */
    /* Нашёл одно свойство `float:` без значения. Как бы это не сломало парсинг */
    /* При использовании **flex-box** ни **inline-block**, ни **float** не нужны */
    /* float - отменяет любое действие display: inline-block; */
    /* обязательно должно присутствовать рядом с display: inline-block; */
    /* vertical-align: baseline;  */
/* } */

.lang-list {
    order: 1;
    width: 50%;
    padding-left: 20px;
    padding-bottom: 10px;
}
.lang-list li {
    display: inline-block;
    vertical-align: baseline; 
    border-right: 1px solid #fff;
    line-height: 10px;
    padding: 0 6px 0 2px;
    color: #e8d1a4
}
.lang-list li:last-child {
    border-right: none;
    padding-right: 0;
}
.lang-list .lang-item a {
    color: #fff;
}
.lang-list .lang-item:hover a,
.lang-list .lang-item:active a,
.lang-list .lang-item:focus a {
    color: #e8d1a4;
    text-decoration: none;
}

.auth {
    order: 2;
    width: 50%;
    text-align: right;
    padding-right: 20px;
    padding-bottom: 10px;
}
.auth .auth-link {
    display: inline-block;
    vertical-align: baseline; 
    border-right: 1px solid #fff;
    line-height: 10px;
    padding: 0 6px 0 2px;
    text-transform: lowercase;
}
.auth .auth-link:last-child {
    border-right: none;
    padding-right: 0;
}
.auth .auth-link a {
    color: #fff;
}
/* .auth .auth-link:hover a, */
/* .auth .auth-link:focus a */
/* .auth .auth-link:active a, */
.auth .auth-link.signin a {
    color: #e8d1a4;
    /* text-decoration: none; */
}

.logo {
    /* display: inline-block; */
    order: 3;
    padding-left: 30px;
}
.logo img {
    max-width: 100%;
    height: auto;
}

/*************** MAIN MENU ***************/

.mainmenu {  
    order: 4;  
    align-self: flex-end;
    padding-top: 15px;
}
.mainmenu .menu-list {    
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #eeedeb 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#eeedeb 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#eeedeb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeedeb',GradientType=0 );
    border-radius: 6px;
    padding-left: 4px;
}
.mainmenu .menu-item {
    display: inline-block;
    vertical-align: baseline; 
    position: relative;
    height: 39px;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 39px;
    box-sizing: border-box;
    margin-left: -4px;
}
.mainmenu .menu-item:hover,
.mainmenu .menu-item:active,
.mainmenu .menu-item.active { 
    background-image: url("../images/bg_menu-item-active.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.mainmenu .menu-item:first-child:hover,
.mainmenu .menu-item:first-child:active { 
    border-radius: 6px 0 0 6px;
}
.mainmenu .menu-item:last-child:hover,
.mainmenu .menu-item:last-child:active { 
    border-radius: 0 6px 6px 0;
}
.mainmenu .menu-item a {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #461500;
    vertical-align: middle;
    height: 100%;
    height: 39px;
    text-decoration: none;
    
    padding: 0 25px;
    /* padding: 0 40% 0 0; */

    /* Не делать так, т.к. будет такая ошибка -> */
    /* У тебя ширина меню меняется в зависимости от высоты окна. Не уверен что так должно быть */
    /* padding: 0 4vh; */
}


/*************** MAIN CONTENT ***************/

.promo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 14px;
    line-height: 22px;
    color: #f9da5a;
    background: url(../images/bg_about.png) no-repeat 56px center, 
                url(../images/bg_promo.png) repeat 0 0            ;
    padding: 25px 20px 25px 146px;
    margin-bottom: 43px;
    border-radius: 10px;
}

.article {
    position: relative;
    padding: 0 20px 10px 146px;
}
.article img {
    position: absolute;
    left: 20px;
    top: 5px;
    max-width: 100px;
    height: auto;
}

/*************** FOOTER ***************/

footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 40px 6px 6px 12px;
    border-top: 1px solid #d7b649;
}
.copyright {
    color: #f9da5a;
    line-height: 14px;
}
.footermenu .menu-item {
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
    line-height: 10px;
    padding: 0 9px;
    margin-bottom: 8px;
    border-right: 1px solid #fff;
}
.footermenu .menu-item:last-child {
    border-right: none;
}
.footermenu .menu-item a {
    color: #fff;
    text-decoration: none;
}
/* элемент **<li>** никогда не окажется в фокусе т.к. он не интерактивный */
/* .footermenu .menu-item:focus a  */
.footermenu .menu-item:hover a,
.footermenu .menu-item:active a {
    color: #e8d1a4;
}
